@import '../../../styles/variables';

.cdx-texteditor {
  margin-bottom: $componentMargin;
  margin-right: $componentMargin;
  color: $fontColor;
  width: $inputWidthLong;

  &.block {
    width: 100%;
  }

  &:last-child {
    margin-bottom: $sectionMargin;
  }

  .label {
    p {
      margin: 0;
      font-size: 1rem;
      margin-bottom: $standardMargin;

      &.counter {
        font-size: 0.75rem;
        height: 1rem;
        transform: translateY(0.5rem);
        margin-bottom: 0 !important;
        color: $borderColor;
      }
    }
  }

  .cdx-input {
    border-radius: $inputRadius;
    border: solid 0.0625rem $borderColor;
    background-color: #ffffff;
    height: $inputHeightLarge;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1rem;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    outline: none;

    .focus {
      border: 0.0625rem solid $primaryColor;
    }

    &.disabled {
      background-color: $disabledColor !important;

      button {
        background: $disabledColor !important;
      }
    }

    &.error-input {
      border: 0.0625rem solid $errorColor;
    }

    .menu-bar {
      margin-bottom: 0.5rem;
      padding-bottom: 0.5rem;
      border-bottom: 0.0625rem solid $borderColor;
      line-height: 0;

      button {
        background-color: white;
        border: none;
        padding: 0;
        margin-right: 0.5rem;
        height: 1.5rem;
        width: 1.5rem;

        &.is-active {
          background-color: $disabledColor;
          border-radius: 0.1875rem;
        }

        img {
          height: 1.5rem;
          width: auto;

          margin: auto;
          align-self: center;
        }
      }
    }

    .DraftEditor-root,
    .public-DraftEditor-content {
      height: 5.5rem;
      overflow-y: auto;
    }

    .public-DraftEditorPlaceholder-inner {
      position: absolute;
      pointer-events: none;
      color: $borderColor;
      font-size: 0.875rem;
      font-style: italic;
    }
  }
}