@import '../../../styles/variables';

.cdx-select {
  margin: 0;
  margin-bottom: $componentMargin;
  margin-right: $componentMargin;
  width: $inputWidth;

  .icon-component {
    pointer-events: none;
    width: 0.75rem;
    height: auto;
  }

  &.long {
    width: $inputWidthLong;
  }

  &.block {
    width: 100%;
  }

  &:last-child {
    margin-bottom: $sectionMargin;
  }

  .label {

    p,
    .optional {
      margin: 0;
      margin-bottom: $standardMargin;
    }

    p {
      font-size: 1rem;
    }

    .optional {
      font-size: 0.875rem;
      color: $borderColor;
    }
  }

  .cdx-react-select {

    &.error-input .select__control {
      border: solid 0.0625rem $errorColor !important;
    }

    &.small .select__control {
      font-size: 0.875rem;
      height: $inputHeightSmall;
    }

    &.select--is-disabled {
      .select__control--is-disabled {
        background: $disabledColor;

        .select__single-value--is-disabled {
          color: $borderColor;
        }
      }
    }

    .select__control {

      height: $inputHeight;
      padding: 0 1rem;
      background: #ffffff;
      border-radius: $inputRadius;
      border: solid 0.0625rem $borderColor;

      &.select__control--menu-is-open,
      &.select__control--is-focused {
        border: 0.0625rem solid $primaryColor !important;
        outline: none !important;
        box-shadow: none;
      }

      .select__value-container {
        color: $fontColor;
        padding: 0.5rem 0;

        .select__placeholder {
          color: $borderColor;
          font-size: 0.875rem;
          font-style: italic;
        }

        &.select__value-container--is-multi {

          .select__multi-value {
            display: none;
            border-radius: 0.625rem;
            background-color: $primaryColor;
            padding: 0 0.5rem;

            .select__multi-value__label {
              font-size: 0.75rem;
              color: #ffffff;
            }

            .select__multi-value__remove svg {
              color: #ffffff;
            }
          }
        }
      }

      .select__indicators {

        .select__indicator-separator {
          display: none;
          color: rgba($color: #000000, $alpha: 0);
          height: 0;
          margin: 0;
        }

        .select__clear-indicator {
          display: none;
        }

        .select__dropdown-indicator {
          padding: 0;
        }
      }
    }

    .select__menu {
      max-height: 8.75rem;
      margin: 0;
      transform: translate(0, 0.5rem);
      background-color: #ffffff;
      box-shadow: 0 0.125rem 0.25rem 0 rgba(163, 163, 163, 0.5);

      .select__menu-list {
        padding: 0.25rem;
        max-height: 8.75rem;


        &:active {
          background-color: rgba($color: #000000, $alpha: 0);
        }

        .select__option {
          font-size: 0.8125rem;
          cursor: pointer;

          &:first-child {
            padding-top: 0.5rem;
            border-radius: 0.1875rem 0.1875rem 0 0;
          }

          &:last-child {
            padding-bottom: 0.5rem;
            border-radius: 0 0 0.1875rem 0.1875rem;
          }

          &.select__option--is-selected {
            background-color: white;
            color: $fontColor;
          }

          &.select__option--is-focused,
          &:hover {
            background-color: rgba($primaryColor, .2);
          }


        }
      }
    }

  }

  .select-multi-container {

    .select-multi-item {
      height: 1.5rem;
      padding: 0 0.5rem;
      margin: 0.5rem 0.5rem 0 0;
      border-radius: 1rem;
      background-color: $primaryColor;

      p {
        display: inline-block;
        font-size: 0.75rem;
        color: #ffffff;
        line-height: 0;
      }

      button {
        min-width: 0;
        margin: 0;
        padding: 0;
        margin-left: 0.25rem;
        width: 1rem;
        background-color: rgba(0, 0, 0, 0);
        border: none;

        :focus {
          outline: none;
        }

        img {
          width: 50%;
          align-self: center;
          justify-self: center;
        }
      }
    }
  }
}